{% load static %}
<footer
        class="footer-container">
    <div class="footer-body-1">

{#        <div class="" style="margin-bottom: 1.5rem">#}
{##}
{#        </div>#}

{#        <div class="footer-link-container">#}
{#            <div class="" style="margin-bottom: 1.5rem;">#}
{#                <h5 class="footer-link-h5">Links</h5>#}
{##}
{#                <ul class="footer-link-ul">#}
{#                    <li>#}
{#                        <a href="#!" class="">Link 1</a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="#!" class="">Link 2</a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="#!" class="">Link 3</a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="#!" class="">Link 4</a>#}
{#                    </li>#}
{#                </ul>#}
{#            </div>#}
{##}
{#            <div class="" style="margin-bottom: 1.5rem;">#}
{#                <h5 class="footer-link-h5">Links</h5>#}
{##}
{#                <ul class="footer-link-ul">#}
{#                    <li>#}
{#                        <a href="#!" class="">Link 1</a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="#!" class="">Link 2</a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="#!" class="">Link 3</a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="#!" class="">Link 4</a>#}
{#                    </li>#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}

        <div
                class="footer-copyright"
                style="background-color: rgba(0, 0, 0, 0.2)">

            <a class="" style="color: #ffffff" href="https://github.com/dhrumillimbad/COMP8347-Project/">COMP8347 © 2023 Copyright: COMP 8347 - Group 2</a>
            <link rel="stylesheet" href="{% static 'cryptoapp/footer.css' %}">
        </div>
    </div>
</footer>
