body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Georgia', serif;
}

i.icon-eye {
    position: absolute;
    right: 500px;
    top: 154px;
    transform: translateY(-40%);
    cursor: pointer;
}

#togglePassword_confirm {
    position: absolute;
    right: 500px;
    top: 238px;
    transform: translateY(-40%);
    cursor: pointer;
}

h1 {
    text-align: center;
    font-size: 40px;
    color: black;
    font-family: __Inter_a64ecd, __Inter_Fallback_a64ecd, serif;
    line-height: 60px;
    letter-spacing: -2.64px
}

.container {
    display: flex;
    margin-top: 20px;
}

.forms {
    margin-left: 20px;
}

.cover {
    flex: 1;
    display: flex;
    align-items: center;
}

.front img {
    width: 100%;
    height: auto;
}

.registration-step {
    margin-top: 20px;
}

input[type="submit"] {
    padding: 10px 15px;
    width: 99%;
    background-color: black;
    color: white;
    font-weight: 500;
    font-size: large;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 2px;
    margin-top: 15px;
}

input[type="submit"]:hover {
    background-color: #2c2b2b;
}

.error {
    color: red;
    font-size: 12px;
}

/** {*/
/*    border-radius: 5px;*/
/*    color: black;*/
/*    border: 1px;*/
/*    margin: 0;*/
/*    !*padding: 1px;*!*/
/*    box-sizing: border-box;*/
/*    !*font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;*!*/
/*}*/
p{
        font-weight: 400;

    font-style: inherit;
    text-decoration: inherit;
    text-align: inherit;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    margin: 10px 5px 0px;
    color: rgb(1, 3, 4);
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
button {
    padding: 10px 15px;
    width: 99%;
    background-color: black;
    color: white;
    font-weight: 500;
    font-size: large;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 2px;
    margin-top: 25px;
}

button:hover {
    background-color: #2c2b2b;
}

h2 {
    color: rgb(56, 97, 251);
    text-align: center;
    margin-left: 10px;
}

input[type="text"],
input[type="password"],
input[type="file"] {
    align-items: center;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    width: 333px;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 16px;
    height: 46px;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    padding: 30px;
}

a{
    margin-top: 10px;;
}
.get_started {
    margin-top: 10px;
}

h2 {
    margin-bottom: 10px;
    color: black;
    font-size: 30px;
    line-height: 28px;
    letter-spacing: 0px;
}

.container {
    position: relative;
    max-width: 57%;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    perspective: 2700px;
    height: 560px;
}

td {
    color: black;
}

.gender-buttons label {
    display: inline-block;
    padding: 8px 16px;
    margin: 0;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 1px solid black;
}
.gender-radio{
    display: flex;

    justify-content: space-between;
    gap: 10px;
}
.gender-buttons {
    display: flex;
}


.gender-buttons input:checked + label {
    background-color: black;
    color: white;
}

/* Style for the not selected radio buttons */
.gender-buttons label:not(:first-of-type) {
    border-left: 0;
}

/* Optional: Add some spacing between the radio buttons */
.gender-buttons label {
    margin-right: 8px;
}
.gender-buttons input[type="radio"] {
    display: none;
}


label {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;
    align-items: center;
    display: block;
    /*margin-bottom: 2px;*/
    margin-left: 0px;
    color: black;
    /*font-size: large;*/
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

.container .cover {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    z-index: 98;
    transition: all 1s ease;
    transform-origin: left;
    transform-style: preserve-3d;
}

.container #flip:checked ~ .cover {
    transform: rotateY(-180deg);
}

.container .cover .front,
.container .cover .back {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.cover .back {
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.container .cover::before,
.container .cover::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: #48454c;
    opacity: 0.5;
    z-index: 12;
}

.container .cover::after {
    opacity: 0.3;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.container .cover img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 10;
}


.container .cover .text {
    position: absolute;
    z-index: 130;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cover .text .text-1,
.cover .text .text-2 {
    font-size: 26px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}

.cover .text .text-2 {
    font-size: 15px;
    font-weight: 500;
}

.container .forms {
    height: 100%;
    width: 100%;
    background: #fff;
}

.container .form-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-content .login-form,
.form-content .signup-form {
    width: calc(100% / 2 - 25px);
}

.forms .form-content .title {
    position: relative;
    font-size: 24px;
    font-weight: 500;
    color: #333;
}

.forms .form-content .title:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 25px;
    background: #7d2ae8;
}

.forms .signup-form .title:before {
    width: 20px;
}

.forms .form-content .login-text,
.forms .form-content .sign-up-text {
    text-align: center;
    margin-top: 25px;
}

.container #flip {
    display: none;
}

@media (max-width: 730px) {
    .container .cover {
        display: none;
    }

    .form-content .login-form,
    .form-content .signup-form {
        width: 100%;
    }

    .form-content .signup-form {
        display: none;
    }

    .container #flip:checked ~ .forms .signup-form {
        display: block;
    }

    .container #flip:checked ~ .forms .login-form {
        display: none;
    }
}
